@charset "utf-8";

html{
    background:#361999;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.png{
    height: 50px;
    width: 50px;
}
.jpg{
    height: 100px;
    width: 100px;
    padding: auto;
}