@charset "utf-8";

html{
    background:#361999;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
footer img{
    height: 50px;
    width: 50px;
}
img{
    height: 50%;
    width: 50%;
    padding: auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: medium;
}
ul{
    text-align: center;
    list-style-type: none;
}