@charset "utf-8";


h1{
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}


 body {
    background-color: #361999  ;
}

    
