@charset "utf-8";


h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

 body {
    background-color: #361999  ;
}

 ul{
     color: white;
     font-family: 'Courier New', Courier, monospace;
     text-align: left;
 }   
img{
    size: 100px;
}