@charset "utf-8";


h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

 body {
    background: linear-gradient(#361999, #AEA3D6 ) no-repeat  ;
}

 ul{
     color: white;
     font-family: 'Courier New', Courier, monospace;
     text-align: left;
 }   
img{
    height: 100px;
    width: 100px;
}