@charset "utf-8";

html{
    background-image:linear-gradient( bottom
   #361999 0% #a05ada 100% ) ;
}

h1{
color: white;
font-family:'Courier New', Courier, monospace;
text-align: center;
}


img{
    height: 50px;
    width: 50px;
    border: 1px solid orchid;
}
body{
      color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
}
